html{
    font-size: 100%;
    box-sizing:border-box;
    scroll-behavior: smooth;

}

body{
 margin: 0;
 padding: 0;
 position: relative;
 font-family: 'Public Sans', sans-serif;
}

.navbar {
    margin: 0;
    width: 100%;
    height: 20px;
}

.nav-ul {
    margin: 0;
    padding: 10px;
    list-style: none;
}

li {
    float: left;
    padding: 20px;
    font-weight: 600;
    margin-right: 50px;
    cursor: pointer;
    padding-bottom: 5px;
}

.brand {
    padding-right: 0;
    margin-right: 0;
    margin-left: 50px;
    margin-top: 10px;
}

.brand-h {
    font: 26px;
    font-size: 25px;
    padding-right: 0;
    margin-right: 500px;
    margin-left: 0;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: 900;
}
.brand img {
    height: 33px;
    margin-top: -30px;
}

.active, li:hover {
    color:gold;
    border-bottom: 2px solid gold;
}

.brand:hover {
    border-bottom: 0;
}

.brand-h:hover {
    color: #000;
    border-bottom: 0;
}

.main {
    margin-top: 10px;
    width: 100%;
    height: 93vh;
    border-radius: 5px;
    background: black;
    display: flex;
    justify-content: left;
}

.main-l {
    width: 36%;
    margin-left: 100px;
    padding-top: 15px;
}

.titulo {
    font-size: 53px;
    color: white;
}

.subtitulo {
    font-size: 64px;
    color: gold;
    margin-top: -55px;
    letter-spacing: 0.03em;
}

.description {
    width: 94%;
    color:white;
    letter-spacing: 0.01em;
    font-weight: 500;
    font-size: 16px;
}

.contato {
    width: 100%;
    max-width: 500px;
    color: white;
   
}

.form {
    display: flex;
    flex-direction: column;
}

.field1 {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 16px;
    max-width: 280px;
    text-align: center;
}
    .field2 {
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid white;
        border-radius: 5px;
        font-size: 16px;
        max-width: 300px;
            
         &:hover {
            background-color: gold;
            cursor: pointer;
            }    
}

.footer {
    width: 100%;
    display: flex;
    margin-top: -20px;
    background:rgb(49, 64, 78);
    justify-content: center;
    color: white;

}

.product {
    position: absolute;
    top: 90px;
    left: 700px;
}

.img-product {
    width: 300px;
    height: 300px;
}

.btn {
    color: white;
    margin-left: 480px;
}
