@media (max-width: 600px) {
    .navbar {
        height: 100px;
    .brand-h{
        height: 20px;
        display: flex;
        justify-content: center;
    
  
    }
    .main{
        height: 1000px;
        justify-content: center;
    .main-l {
        height: 1000px;
        justify-content: center;
    }
    }    
}
}