@media (max-width: 600px) {

    .tela{ 
        height: 1200px;
        display: grid;
        height: 90%;  
    
        .footer{
            margin-top: calc(10px - 100px);
        }     
          
}  
}    