*{
    font-size: 100%;
    box-sizing:border-box;
    scroll-behavior: smooth;
}

body{
 margin: 0;
 padding: 0;
 font-family: 'Public Sans', sans-serif;
}

.navbar {
    margin: 0;
    width: 100%;
    height: 64px;
    background-color: white;
    position: fixed;  
}

.nav-ul {
    margin: 0;
    padding: 5px;
    list-style: none;
}


.brand img {
    height: 64px;
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}


.main {
    background: rgb(248, 245, 245);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.main-l {
    width: 80%;
    padding-top: 120px;
}

.titulo {
    width: 100%;
    text-align: left;
    font-size: 53px;
    color: #43BF22;

}

.description {
    text-align: left;
    width: 50%;
    color:black;
    letter-spacing: 0.01em;
    font-weight: 500;
    font-size: 16px;
}

#img{
    
}

.contato {
    color: black;
    width: 100%; 
}

.form {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.field2 {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid white;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
    width: 250px;
    max-width: 300px;
    background-color: rgb(203, 198, 207);
}

.field2:hover {
    transition: background .4s ;
    color: white;
    background-color: #1dd800;
    cursor: pointer;
}

.main2{
    background: #238401;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.main-l2{
    color: white;
    width: 80%;
}

.titulo2 {
    text-align: center;
    font-size: 30px;
}

.descricao2{
    text-align: left;
    font-size: 16px;
}

/* .video{
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    display: block;
} */
.main3{
    width: 100%;
    height: 200vh;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #43BF22;
}

.main-l3{
    width: 80%;
    justify-content: center;
    font-size: 40px;
}

#container img{
    height: 390px;
}

#container{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    align-items: center;
}

.container2 img{
    height: 390px;
}

.container2{
    margin-top: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#img2 {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 64px;
}

.main4{
    width: 100%;
    height: 100vh;
    background-color: cadetblue;
}

.main-l4{
    width: 80%;
}

.alunos{
    padding-top: 3px;
    font-size: 30px;
    text-align: center;
}

.feedback{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    text-align: center;
}

.figcap{
    text-align: center;
    font-weight: bold;
}

.figcap2{
    text-align: justify;
}

.figure, figure img{
    width: 128px;
    height: 128px;
    border-radius: 62px;
}

.footer {
    width: 100%;
    display: flex;
    background:black;
    justify-content: center;
    color: white;
}

.midias, img {
    height: 26px;
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;
}